.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  padding-left: 0;
  background-color: white;
}

.item {
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  color: gray;
  border: 1px solid grey;
  cursor: pointer;
}

.item:hover {
  color: green;
  background-color: rgb(247, 247, 247);
}
